.calendar-year-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .calendar-month {
    width: 100%;
  }
  
  .course-bars {
    display: flex;
  }
  
  .course-bar {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
  