/* The dropdown menu container */
.custom-dropdown-menu {
    background-color: #f8f9fa;  /* a light grey color */
    border: none; /* Removes the default dropdown border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow to the dropdown menu */
  }
  
  /* The dropdown menu items */
  .custom-dropdown-item {
    color: #333;  /* a dark grey color */
    font-weight: bold; /* Makes the text bold */
    padding: 10px; /* Adds some padding around the text */
  }
  
  /* Defines how the dropdown menu items look when the mouse hovers over them */
  .custom-dropdown-item:hover {
    background-color: #f1f1f1;  /* a very light grey color */
    color: #007bff; /* Bootstrap primary color (blue) */
  }
  
  /* Emoji and text in dropdown menu items */
  .custom-dropdown-item span {
    margin-right: 10px; /* Adds some space between the emoji and the text */
  }
  